.Botoes {
  background: yellow;
}

.Botoes span {
  font-size: 20px;
  color: red;
  font-family:'Times New Roman', Times;
}

.Botoes button {
  font-size: 15px;
  color: black;
  font-family: 'Times New Roman', Times;
  background: yellowgreen;
}
